[2020-08-30 16:41] Nabokov86 opened #926 "Examples and text analysis issue in 3.50.18"
Examples are displayed with some errors, I think. Screenshots:
![IMG_20200830_185733_510](https://user-images.githubusercontent.com/26260168/91664392-b1db9180-eaf7-11ea-965d-1e3ee374a347.jpg)
![IMG_20200830_185731_546](https://user-images.githubusercontent.com/26260168/91664396-bdc75380-eaf7-11ea-88ae-175080df36bf.jpg)

Also in text analysis something broke, too. screenshot:
![IMG_20200830_185727_

[2020-08-30 16:57] Nabokov86 commented on #926
Forgot to say, fresh install with default settings.

Also sorry for the enormous screenshots.

[2020-09-01 12:39] mvysny commented on #926
Thank you for letting me know! Everything works good on my Android 10 phone, but I'll try the same thing with the Emulator and/or Android 6+7 devices.

The thing is that I've switched to the new FuriganaView component which fixed #704 ; however apparently the component contain some kind of issues manifesting on Android 6+7 devices.

[2020-09-01 23:47] Julianbrook1 commented on #925
Hi Martin. Thanks for the response. So, I paid for a new subscription for my new Google account, although it gave me a free trial period, which is nice. However, the payment process asked for an email I don't usually use, and there was no way to change it. My Aedict version is now listed as Ultimate and monthly paid subscription, but it's not coming up in my Google Play subscriptions are, which is

[2020-09-02 08:49] mvysny commented on #925
Hi Julian, I've received a mail regarding a payment issue where the payment process forced you to use the e-mail you don't really use. However, I can't seem to see the message here. Have you perhaps resolved the issue and deleted the message?

[2020-09-02 12:10] mvysny commented on #926
Reproduced on Android 5.1. I'll debug the issue.

[2020-09-02 12:28] mvysny commented on #926
Fixed in Aedict 3.50.19.

[2020-09-02 12:28] #926 closed, assigned to mvysny

[2020-09-05 22:06] mikemorr opened #927 "Pull-to-refresh Dictionary Manager"
A feature suggestion:

Currently, if I download additional dictionaries, I have to back out of the Dictionary Manager and go into it again if I want the newly downloaded dictionaries to appear at the top of the list with their green color indicators. It might be neat, and feel intuitive, if a "pull down" gesture would refresh the dictionary list, similarly to apps such as Gmail or Chrome, or websi

[2020-09-06 09:05] mvysny commented on #927
Thanks! Yeah, it shouldn't be that hard: https://medium.com/@houdayer.corentin/how-to-use-swipe-to-refresh-swiperefreshlayout-99abd674c907

[2020-09-07 07:53] mvysny commented on #927
Fixed in Aedict 3.50.19

[2020-09-07 07:53] #927 closed, assigned to mvysny

[2020-09-09 10:43] topherbuckley commented on #927
Your speed to fix things is always impressive! I saw the issue report and the fix in the same day of going through my notifications :D.

[2020-09-09 13:16] mvysny commented on #927
Thank you, luckily this issue was easy to implement since Android provided exactly this functionality :)

[2020-09-09 18:34] rbleuse commented on #923
Hi Martin,

I don't know if it's a regression from this fix, but it's not working with 着ます (I can't find it from kana nor kanji) :

<img src="https://user-images.githubusercontent.com/626863/92638984-7a30ce80-f2db-11ea-801c-0415d70c639b.png" width="300" /><img src="https://user-images.githubusercontent.com/626863/92638954-6c7b4900-f2db-11ea-8fb1-96dae42489cf.png" width="300" />

It's working fine

[2020-09-11 08:58] mjaj opened #928 "Translations in example sentences are not wrapped"
Hello Martin,
I just ran into a minor display issue (I assume it is not intended this way):
On my tablet running Android 8.1.0, when searching within examples, long lines of the Japanese example sentences are correctly wrapped, however not the translations.
![Screenshot_20200911-102458_Aedict](https://user-images.githubusercontent.com/15126895/92896405-a0aa5300-f41c-11ea-973d-36a4f6346e86.jpg)
Aft

[2020-09-17 10:57] rbleuse opened #929 "Masu form with kanjis not found"
Hi Martin,

I don't know if it's a regression from this fix, but it's not working with 着ます (I can't find it from kana nor kanji) :

<img src="https://user-images.githubusercontent.com/626863/92638984-7a30ce80-f2db-11ea-801c-0415d70c639b.png" width="300" /><img src="https://user-images.githubusercontent.com/626863/92638954-6c7b4900-f2db-11ea-8fb1-96dae42489cf.png" width="300" />

It's working fine

[2020-09-17 11:47] mvysny commented on #929
Hi Remi, I think it's a limitation of the deinflection engine - the engine needs to have a hiragana character before `masu` to be able to deinflect it. Yet maybe I can create an exception rule, in the way similar to kuru.

[2020-10-08 22:32] mwsduelle opened #930 "Can't find custom fonts in Android 10"
Oneplus 5, Android 10. I'm assuming this has something to do with SAF. I used to be able to open any folder when looking for fonts. The main issue now is that when I'm trying to locate fonts, there is no address telling me where I am in the filesystem. So I don't know what folder to put them in now. All I have is the "go up a level" icon. When going up 2 levels I have "emulated" and "self".

![Scr

[2020-10-09 12:34] mvysny commented on #930
You're right - the font picker dialog is very counter-intuitive. I need to display the current path as a bare minimum; also I managed to go upwards by pressing `..` and now all I can see is a blank window - probably Android security prevents me from browsing the root folder or something. In such case there should always be a way to fall back and start from the root of the SD card (or whatever is b

[2020-10-10 16:47] Sauhund opened #931 "Failed to create Aedict dictionary on SD card"
1. Your phone brand and maker
Huawei P30

2. The exact Android version.
EMUI 10.1.0
Android 10

3. A screenshot if possible; even better, a youtube video demonstrating the issue.
See screenshot.

4. A full description of the issue you're experiencing.
![Screenshot_20201010_180312_sk baka aedict3](https://user-images.githubusercontent.com/72664953/95660539-dda35b80-0b28-11eb-8c55-388f0ac2d942.jpg)

[2020-10-11 23:58] gitTerebi commented on #889
Looks like its possible to grant access back to apps using adb commands.
https://forum.joaoapps.com/index.php?threads/clipboard-monitor-listener-no-longer-works-on-android-10.49808/

Would something work as an unofficial way to get it to work?

[2020-10-12 05:42] mvysny commented on #889
Hmm, I've checked the solution really quickly: it appears that the solution is to enable access to the system logs, in hope that the clipboard appears in the logs. Yet there are reports that the solution doesn't work reliably unfortunately: https://www.reddit.com/r/JoinApp/comments/deimyz/dev_join_22beta_fix_for_clipboard_monitoring_on/

[2020-10-12 05:48] mvysny commented on #931
Hi, Android 10 unfortunately severely limited apps to access the SD Card, even if the app asks for the access to the SD Card. Did you install Aedict on a phone that already had Android 10, or have you upgraded to Android 10 after Aedict has been installed on your phone please? If the latter one, reinstalling Aedict or nuking+redownloading dictionaries could help, since Android 10 most likely now r

[2020-10-12 07:43] Sauhund commented on #931
Hi, thanks for the feedback. The message still appears.

I have nuked and reinstalled Aedict. Upon initial configuration, I chose internal memory.
![Screenshot_20201012_094217](https://user-images.githubusercontent.com/72664953/95718894-5ca2ac00-0c6f-11eb-9110-0462852e7460.jpg)

[2020-10-12 15:52] mvysny commented on #929
Fixed in Aedict 3.50.20.

[2020-10-12 20:28] mwsduelle commented on #930
I was able to load the fonts by putting them in the aedict folder in /storage/emulated/0/Android, copying the path to the file, and pasting it into the text box. So it's still possible with a workaround.

[2020-10-20 08:43] rbleuse opened #933 "Wrong example sentences from common word"
Hi Martin,

I think there is a mistake with example associated to a word.

I was looking for examples using 切れ which means `piece; slice; strip; scrap`

But examples are displaying sentences for 切れる :

<img src="https://user-images.githubusercontent.com/626863/96562150-baaf3f00-12c0-11eb-90ed-21bc5e1d8494.png" width="300" /><img src="https://user-images.githubusercontent.com/626863/96562154-bbe06c

[2020-10-22 08:07] Sauhund commented on #931
Hi there,
will there be any workaround for this soon?

[2020-10-22 08:25] mvysny commented on #931
Unfortunately I would need to have access to your phone to fix that, which is not possible. "Thanks" to Android fragmentation and thousands of environments and Android versions, it's impossible to fix issues such as these. You need to find a writable folder for Aedict. Try reinstalling Aedict from scratch, maybe enabling read+write access for Aedict to SD Card in your phone's settings / app settin

[2020-10-25 20:23] mvysny opened #934 "dark mode from os"
Add three-state setting: light, dark, from os.

https://stackoverflow.com/questions/44170028/android-how-to-detect-if-night-mode-is-on-when-using-appcompatdelegate-mode-ni

[2020-10-26 06:12] mvysny commented on #889
Please find a summary here: https://mvysny.github.io/aedict-blog/reader-android-10/

[2020-10-26 06:57] mvysny commented on #934
Implemented in Aedict 3.50.20.

[2020-10-26 06:57] #934 closed, assigned to mvysny

[2020-10-26 08:15] gitTerebi commented on #889
Is it possible to push aedict as the first option when poping up right click menu? Or is this based on the app?

[2020-10-26 08:27] mvysny commented on #889
I'm not sure I understand. Right click on Android?

[2020-10-26 08:32] gitTerebi commented on #889
When you do a long press it opens up that pop up menu with copy/paste etc

[2020-10-26 09:54] mvysny commented on #889
@gitTerebi Ah right, you mean the text selection actions menu as shown here:  https://medium.com/androiddevelopers/custom-text-selection-actions-with-action-process-text-191f792d2999 . Currently only the Aedict Reader integrates into that menu; if you'd like to have Aedict as well to integrate into that menu, please open a new feature request.

I'm closing this bug report as fixed:
1. It's not pos

[2020-10-26 09:54] #889 closed

[2020-10-26 09:57] gitTerebi commented on #889
I mean that aedict reader puts itself in line with copy/paste so that we don't have to press the '...' button.

[2020-10-26 09:58] mvysny commented on #889
That menu is unfortunately controlled by Android itself and can not be modified. There is no way for Reader (or any other app, including e.g. Google Translate) to move outside of the `...` button.

[2020-10-26 09:59] gitTerebi commented on #889
understood! thanks.

[2020-10-26 12:58] mvysny commented on #930
Thank you for letting me know.

Starting with Android 10 it's discouraged to browse the SD Card - in fact Google made it almost impossible to access the SD Card by apps: https://stackoverflow.com/questions/59465866/how-to-read-an-existing-file-from-devices-shared-storageroot-directory-in-and . It's on purpose.

Therefore I need to replace those file browsing dialogs with ACTION_OPEN_DOCUMENT and/o

[2020-10-27 08:09] mvysny commented on #930
Aedict 3.50.20 will use `ACTION_OPEN_DOCUMENT` on Android 10+ from now on.

[2020-10-27 08:09] #930 closed, assigned to mvysny

[2020-10-27 08:41] mvysny commented on #928
Thank you! Fixed in Aedict 3.50.20.

Initially the ellipsis was used because the Daijirin dictionary provides very lengthy dictionary-class explanations, which would utterly clutter the result screen. However, Tatoeba provides example sentences with sane length, and therefore it wouldn't hurt enable multiline for example sentences.

[2020-10-27 08:41] #928 closed, assigned to mvysny

[2020-10-27 08:44] #925 closed, assigned to mvysny

[2020-10-27 08:44] mvysny commented on #925
Closing because of inactivity, please reopen if there is more details.

[2020-10-27 08:47] mvysny commented on #913
Regardless, this needs to be solved upstream. However, since http://www.acmuller.net/ddb/index.html is a 404 NOT FOUND now, perhaps the buddhdic is not active anymore?

Could you please contact the buddhdic authors in order to fix the bug in the dictionary file?

[2020-10-27 08:57] mvysny commented on #907
Thank you, fixed to http://www.edrdg.org/jmdict/edict.html

Thank you, fixed (hopefully)... the proper URL is not easy to learn

Yes, unfortunately the page is down and replacement page is not known. I'm mirroring the page at http://www.baka.sk/~tmath/language/jpverbs/ but I'm removing the link from Aedict.

I'll need more info on what to do here.

Yeah, the author contacted me and provided a link

[2020-10-27 08:58] mvysny commented on #903
Sorry - Aedict UI is largely based on Japanese glyphs; porting the app to Arabic is not possible without a complete rewrite.

[2020-10-27 08:58] #903 closed

[2020-10-27 08:59] mvysny commented on #882
Closing since there's no activity; please reopen if there's more info.

[2020-10-27 08:59] #882 closed

[2020-10-27 09:03] mvysny commented on #855
Thank you! Fixed in Aedict 3.50.20

[2020-10-27 09:03] #855 closed

[2020-10-27 09:05] mvysny commented on #832
Closing as inactive; please reopen if need be.

[2020-10-27 09:05] #832 closed

[2020-10-27 09:05] #637 closed

[2020-10-27 09:06] #504 closed

[2020-10-27 12:01] Vapulabe commented on #907
Hello,

basically, for both the first and 3rd points, absence of specific
copyright license (from either Heisig or the author of
nhk-pronounciation) simply means that you can't use these except in very
narrow  situation called fair use... And including them fully in a
program is not covered by fair use.

For both these you should try to get an explicit license by the author
to avoid potential lega

[2020-10-28 07:32] mvysny commented on #931
It sounds like you have swapped the SD Card with Aedict dictionaries into the new phone with Android 10. Unfortunately Android will not allow Aedict to access SD Card anymore on Android 10+, you need to re-download the dictionaries into the internal memory.

[2020-10-28 11:54] rbleuse commented on #929
Hi @mvysny it doesn't seem to be fixed in 3.50.20 :
<img src="https://user-images.githubusercontent.com/626863/97432658-98e73500-191c-11eb-8ae0-13e078491d2b.png" width="300" />

着ます is not in results

[2020-10-28 11:59] mvysny commented on #929
I probably only fixed the 着ます->着ru deinflection; however kimasu probably still gets deinflected to kuru. Let me take a look.

[2020-10-28 13:13] rbleuse opened #935 "Wrong furinaga in sentence analysis"
Hi Martin,

There is a wrong furigana in some sentence analysis, I suppose that furigana are displayed in relation to the kanji instead of the verb/noun/adjective sometimes :

<img src="https://user-images.githubusercontent.com/626863/97439997-2a5ba480-1927-11eb-83f2-a0a0f1ab62b0.png" width="300" />

来なさい should be き instead of らい

[2020-10-29 19:01] mvysny commented on #929
Fixed in jputils 1.51

[2020-11-03 21:38] rbleuse opened #936 "Wrong noun in sentence analysis"
Hi Martin,

Using the word 彼 in an example sentence displays the wrong dictionary entry :

<img src="https://user-images.githubusercontent.com/626863/98043048-e7b53300-1e24-11eb-9624-57a0b395dc0c.png" width="300" />

Instead of
<img src="https://user-images.githubusercontent.com/626863/98043189-1df2b280-1e25-11eb-87c3-568f2fef04a0.png" width="300" />

[2020-11-03 21:45] rbleuse opened #937 "Example sentence not well parsed"
Hi Martin,

I didn't check the tatoeba file, maybe it's a problem in the sentence structure, but it seems that sentence is not well parsed
<img src="https://user-images.githubusercontent.com/626863/98043756-0bc54400-1e26-11eb-8811-dcbe02f82c5b.png" width="300" />

[2020-11-04 08:13] rbleuse commented on #937
From tatoeba file : `115177	288493	彼(かれ)[01] は|1 二人{２人} の 話(はなし) が 長い{長く} 成る[01]{なり} そう[01] だ と 思う{思った}`

[2020-11-04 08:17] rbleuse commented on #937
In fact there are many sentences with that problem :

<img src="https://user-images.githubusercontent.com/626863/98086078-87eb7600-1e7e-11eb-93d8-c63275896a7a.png" width="300" />

My tatoeba is up to date to November 2nd

[2020-11-04 08:51] rbleuse opened #938 "Wrong furinaga in exemple sentence with verb"
Hi Martin,

I found an issue with furigana for the entry 息を呑む (いきをのむ). Furiganas are first misplaced, but this is because it is placed above `息を飲んだ` instead of `息を飲`.

Second, furigana should be `いきをの` instead of `いきをのむ`

<img src="https://user-images.githubusercontent.com/626863/98089456-0e09bb80-1e83-11eb-9973-27e8da5c31a9.png" width="300" />

From tatoeba : `88151	315556	彼女[01] は|1 息を呑む{息を飲んだ}`

[2020-11-05 22:09] rbleuse commented on #936
There is same problem with 角 (かど), the furigana is correct but not the word in example analysis :
<img src="https://user-images.githubusercontent.com/626863/98301838-b884fa00-1fbb-11eb-9ea0-f3db7b455626.png" width="300"/>

[2020-11-06 11:02] rbleuse opened #939 "Tatoeba translation entry bug"
Hi Martin,

in this tatoeba entry, there are english & french translations : https://tatoeba.org/fra/sentences/show/145364

French translation is from 2014, that's not a new one.
But from Aedict, this entry is displayed in english whereas my Aedict is set to display french when french entries are found

<img src="https://user-images.githubusercontent.com/626863/98358712-6aa5db80-2027-11eb-8b26-a60

[2020-11-11 08:55] rbleuse commented on #939
Here is my dictionary setup :

<img src="https://user-images.githubusercontent.com/626863/98790283-c5fb1380-2403-11eb-900d-87311757fff5.png" width="300" />

I don't know why I get a polish translation :
<img src="https://user-images.githubusercontent.com/626863/98790324-d57a5c80-2403-11eb-996f-28f68a28a501.png" width="300" />

[2020-11-15 12:34] Sauhund commented on #931
Sorry, as I mentioned before, there is no SD card at all in the new phone P30. I already did nuke, uninstall and reinstall. Nothing of it worked. Is it not possible to just hide the notification or at least make it appear for less than those unnecessarily long 4 seconds?

[2020-11-18 09:01] andzzzzz commented on #931
I have the very same problem here on my Sony Xperia 1 II.

[2020-11-18 09:15] andzzzzz opened #940 "Export Notepad as CSV (send to apps) won't work"
1. Your phone brand and maker
Sony Xperia 1 II

2. The exact Android version.
V10
Kernel-Version
4.19.81-perf+

When I try to export notepad as CSV and choose send to apps I immediately get a NullPointerException and nothing else.
Already had a fresh install and it didn't help.

![Screenshot_20201118-100321](https://user-images.githubusercontent.com/74650667/99510049-dfadd500-2986-11eb-8750-2d74f1

[2020-11-19 18:16] mvysny commented on #931
Let me investigate - there are multiple storages available for android (internal/external), perhaps I'm not using the proper one.

[2020-11-20 04:30] rbleuse commented on #933
If it helps you to analyze what's wrong with this issue, here is another example with 記す (しるす) :

<img src="https://user-images.githubusercontent.com/626863/99758206-66ec7b80-2b34-11eb-8e51-bbb219d9c274.png" width="300" />

It shows me examples with 暗記 (あんき)

<img src="https://user-images.githubusercontent.com/626863/99758212-6b189900-2b34-11eb-8c72-2382e6212ac0.png" width="300" />

[2020-11-21 07:59] Sauhund commented on #931
Thanks in advance!
I noticed another issue which could be related.
When trying to export my notepad as CSV (Save to disk), I'm getting an error message as well.
![Screenshot_20201121_085612](https://user-images.githubusercontent.com/72664953/99871037-ca7bb500-2bd7-11eb-8893-9138079135d1.jpg)

[2020-11-21 08:03] mvysny commented on #931
Could you please file that bug as a separate one?

[2020-11-21 08:19] Sauhund opened #941 "Notepad failed to export"
Huawei P30
EMUI 10.1.0
Android 10

When trying to export any Notepad as CSV file, I'm getting the attached error message.
![Screenshot_20201121_085612](https://user-images.githubusercontent.com/72664953/99871423-a8376680-2bda-11eb-82a5-65c941dccbb5.jpg)

[2020-11-21 08:20] Sauhund commented on #931
Done.

[2020-11-21 12:41] andzzzzz commented on #931
Thank you very much too, but I think issue #940 and #941 are the same as I have this one and #940. Almost the same as #941 from @Sauhund  .

[2020-11-27 06:04] kajeagentspi opened #942 "Can't add Daijirin and JMDict entries to the same notepad."
Please provide:
1. Xiaomi Mi 9
2. Android 10
3. https://youtu.be/v2rHh-ptQFw
4. When adding either the JMDict or Daijirin entry to notepad the other one would not be added since the word already exists.
Workaround:
Instead of the just checking if the word is in the notepad also check the name of the dictionary the word came from.

[2020-12-08 18:09] tobia opened #943 "Back button on main screen"
It would be nice if the back button on the main screen cleared the current search and went back to the list of recent searches, instead of closing the app. Currently it closes the app.

Thank you for the great app!

Aedict 3.50.20 on OnePlus 6, Android 10

[2020-12-16 00:37] TMHood commented on #883
Try here: http://www17408ui.sakura.ne.jp/tatsum/database.html

[2020-12-26 11:47] Laurence02 commented on #931
I've got the same problem on the Realme 7 Pro, running Android 10. I do have an SD card, but I explicitly chose to install the dictionaries to the internal memory during the setup. I get the same toast error message during startup, although the app does not crash and the dictionaries work fine. It has also persisted through a couple reinstalls.

[2021-01-05 08:19] mvysny opened #944 "furigana view doesn't work with romaji"
![Screenshot_20210105-091937](https://user-images.githubusercontent.com/254091/103622457-71759f80-4f3f-11eb-918c-b566a36c92fe.jpg)
### Thank you for making the time to report a bug and make Aedict better!

Thank you for your interest in Aedict. Prior submitting bugs, please make sure that you have newest Aedict from Google Play.

A screenshot is often worth a thousand words, so please make sure to

[2021-01-05 08:23] mvysny commented on #944
Fixed in Aedict 3.50.21

[2021-01-05 08:23] #944 closed, assigned to mvysny

[2021-01-05 08:27] mvysny commented on #937
Thank you for letting me know! However, this is actually a bug in the FuriganaView rather than the Tatoeba sentence parser - the bug is similar to #944

[2021-01-05 08:33] mvysny commented on #937
Fixed in Aedict 3.50.21

[2021-01-05 08:33] #937 closed, assigned to mvysny

[2021-01-05 08:35] mvysny commented on #941
Unfortunately that is to be expected. Android 10 severely limits the access to Phone's internal memory even if Aedict asks for read+write access to the "SDcard" (which also includes internal memory, however weird it sounds). However, let me test on my Android 11 phone.

[2021-01-05 08:45] mvysny commented on #941
In my case, exporting to the "Music/" subfolder (which is in fact `/storage/emulated/0/Music`) worked for me. However I admit that the export dialog is really user-unfriendly and would definitely benefit from a complete rewrite. Let me work on that.

[2021-01-16 10:33] kuro68k commented on #931
I have the same issue on a Google Pixel 5 running Android 11. Similar to Laurence02, the app seems to work okay and does not crash. I have not extensively tested all functions however.

I am a software developer and would be happy to help if I can. I can use ADB.

[2021-01-16 12:19] Sauhund commented on #931
Hi there, just wanted to add, this is more than just a cosmetic issue.
I have no possibility to export my notepad from Aedict, therefore the whole notepad feature is actually useless for me, as upon phone swap or maintenance cleanup, all my notes are completely lost.
It is quite a pity that there is no update on such an essential function.

[2021-01-16 12:20] Sauhund commented on #941
Hi there, just wanted to add, this is more than just a cosmetic issue.
I have no possibility to export my notepad from Aedict, therefore the whole notepad feature is actually useless for me, as upon phone swap or maintenance cleanup, all my notes are completely lost.
It is quite a pity that there is no update on such an essential function.

Unfortunately I have no access to your beforementioned fo

[2021-01-16 12:34] andzzzzz commented on #941
Hello Sauhund,
for me that notepad feature is also essential.
But you could use export to anki instead.
It creates a collection which is not compatible with mine, but with anki desktop application you can remodel and/or export it.

[2021-01-16 16:40] Sauhund commented on #941
@andzzzzz, thank you for the advice, where can I export to anki? I suppose you mean the option Export to apps, however in that case I receive the attached error message.
![Screenshot_20210116_173847](https://user-images.githubusercontent.com/72664953/104817492-dffd0c00-5821-11eb-8aed-1e5946919585.jpg)

[2021-01-16 16:43] Sauhund commented on #941
@mvysny,
![Uploading Screenshot_20210116_174244.jpg…]()
Besides that why do any other apps, e.g. Anki, instantly get access to internal storage without issues? Please see attached.

[2021-01-16 16:55] Sauhund commented on #941
@mvysny Besides, why do any other apps, e.g. Anki, instantly get access to internal storage on the same OS without issues? Please see attached.

![Screenshot_20210116_174244](https://user-images.githubusercontent.com/72664953/104817805-e9877380-5823-11eb-9b60-9c61c6a63309.jpg)

[2021-01-16 20:18] andzzzzz commented on #941
@Sauhund you have to mark one entry in notepad and then you can press the square icon on top bar to select them all. In option menu under the three dots you can choose to Export to Ankidroid then.

[2021-01-17 14:24] Sauhund commented on #941
@andzzzzz that worked, thanks! However, it's really just a workaround. Would be good to be able to use the notepad within Aedict. @mvysny a fix would be highly appreciated.

[2021-01-19 08:12] mvysny commented on #941
@Sauhund AnkiDroid has access to SD Card because it targets lower Android SDK version and is therefore granted access to the SD Card. However, this is only temporary: in future Androids the access to the SD Card will be blocked regardless of which Android SDK the app targets. Aedict unfortunately can not target lower Android SDK since it will not be possible to upload such apps into Google Play an

[2021-01-19 08:14] mvysny commented on #941
I have no possibility to export my notepad from Aedict, therefore the whole notepad feature is actually useless for me, as upon phone swap or maintenance cleanup, all my notes are completely lost.
It is quite a pity that there is no update on such an essential function.

@Sauhund You can take advantage of Aedict Ultimate - then your data will be backed automatically to Aedict Online. Alternatively

[2021-01-19 08:16] mvysny commented on #931
@kuro68k thank you kindly, that would be an awesome help! Could you obtain the Aedict- and SD Card-related logs from your phone and send them to me via e-mail? I'll take a look asap - it could be that it's only the Aedict sd card checker who's broken.

[2021-01-19 10:12] mvysny commented on #943
Thank you for letting me know :) I've added a new configuration option for this: `Settings / GUI Tuning / Search TextBox / Clear Omnisearch on Back`.

Fixed in Aedict 3.50.21

[2021-01-19 10:12] #943 closed, assigned to mvysny

[2021-01-22 15:28] mvysny commented on #931
@kuro68k gotcha, thank you. Thanks to the logs I've realized that the old FileStorage stubbornly tried to create the data files in an old location which is no longer available on modern Androids. I'll keep the class around for compatibility reason, but I'll create the files in Aedict-private folder.

[2021-01-22 15:34] mvysny commented on #931
Fixed in Aedict 3.50.21.

[2021-01-22 15:34] #931 closed, assigned to mvysny

[2021-01-24 12:34] Sauhund commented on #931
Thanks! Is Aedict 3.50.21 on Playstore already? I don't have it available yet.

[2021-01-24 15:48] Sauhund commented on #941
@mvysny Thanks for your feedback. I would really appreciate the option to export the notepad CSV to Google drive. However, upon clicking "Send to apps", I still receive an error. There is no further option. Please see attached.
![Screenshot_20210124_164517](https://user-images.githubusercontent.com/72664953/105635607-06472b00-5e64-11eb-882c-3230db94cb9f.jpg)

[2021-01-25 06:41] mvysny commented on #931
Not yet, I'd like to fix a bunch of other tickets before releasing new version.

[2021-01-25 06:43] mvysny commented on #941
Uh-oh, this indicates a bug in my code. However, this is unrelated to this ticket (since in this case the export should be performed into an internal directory rather than to the SD Card). Could you please open a new bug report regarding this?

[2021-01-25 10:12] Sauhund opened #945 "Export Notepad as CSV via Send to Apps not possible"
Huawei P30
EMUI 10.1.0
Android 10

When trying to export any Notepad as CSV via "Send to Apps" (e.g. to Google Drive), I'm getting the attached error message.
![105635607-06472b00-5e64-11eb-882c-3230db94cb9f](https://user-images.githubusercontent.com/72664953/105691971-2f1bfe80-5efe-11eb-9922-071a329790e4.jpg)

[2021-01-25 10:13] Sauhund commented on #941
Done.

[2021-01-25 11:25] mvysny commented on #945
This looks like a NullPointerException from within Aedict's code. I need to have a stacktrace in order to track the origin of this, could you please obtain a stacktrace for me? Please head to https://aedict.eu/faq.html "Aedict 3 log" for instructions on how to do that.

[2021-01-25 14:18] Sauhund commented on #945
Thanks for the feedback. Do you have an email address, where I can send the log?

[2021-01-25 15:12] mvysny commented on #945
Sure: martin@vysny.me

[2021-01-26 07:22] mvysny commented on #945
Thank you, I have received the log and the exception is as follows:

[code]

[2021-01-26 07:30] mvysny commented on #945
This is an after-effect of another exception, which indeed points to the good-old-SDCard problem (being not writable):

[code]

[2021-01-26 07:53] mvysny commented on #945
Fixed in Aedict 3.50.21. On Android 10+, the CSV will be exported to Aedict's private cache dir, then shared from there.

[2021-01-26 07:53] #945 closed, assigned to mvysny

[2021-01-26 07:56] mvysny commented on #940
Thank you for letting me know! This is a duplicate of #945 which has been fixed ;)

[2021-01-26 07:56] #940 closed, assigned to mvysny

[2021-01-28 01:36] rbleuse opened #946 "Wrong furinaga in exemple sentence with noun from adjective"
Hi Martin,

There is another furigana bug when parsing a noun (could be same fix as #938)

Tatoeba sentence : https://tatoeba.org/fra/sentences/show/104267

Tatoeba entry : `104267	299424	彼(かれ)[01] は|1 暑い{暑} さ[01] の 為に[02]{ために} 食欲 が 無い{なかった}`

It displays the furigana しょ instead of あつ

<img src="https://user-images.githubusercontent.com/626863/106077174-64ba2500-6154-11eb-82b9-25678ca41bc9.png" wi

[2021-01-28 01:45] rbleuse opened #947 "Inflection search with ~なければ form"
Hi Martin,

The search can detect the ~なければ form (`Base 1 + nakereba : if I do not do something` is displayed) but the search result doesn't display the correct entry

<img src="https://user-images.githubusercontent.com/626863/106077780-85cf4580-6155-11eb-82b5-a5a333c4d90c.jpg" width="300">

Same problem if I search `言わなければなりません` whereas this inflection is present in the verb inflections.

[2021-02-06 16:44] marchris100 opened #948 "Color settings (feature request)"
Hello Martin,

Thank you for all you do.

This request should be at the absolute bottom of your list since it's simply visual, but I wanted to throw this out there.  It would be nice if it were possible to modify or customize the color of the top bar of the app. As for the current GUI tuning options, I know the dark theme option changes it to black, but I think it'd be a little bit more exciting t

[2021-02-10 00:01] mikemorr opened #949 "Request: add option to choose between tilde or handakuten for bidakuon (nasal) sound"
Hi Martin,

I'd love to have the option to display bidakuon (nasal sound) using the Unicode named sequences for that purpose, in which the dakuten (゛) is not used, and is instead replaced by the combining handakuten (゜): か゚き゚く゚け゚こ゚カ゚キ゚ク゚ケ゚コ゚
![Screenshot from 2021-02-09 18-02-16](https://user-images.githubusercontent.com/2184268/107440176-31d34200-6b01-11eb-8906-1e6024d20051.png)
That is how the n

[2021-02-12 00:48] rbleuse commented on #938
From tatoeba's jpn_transcriptions.tsv.bz2, I get this entry for this sentence :
`[彼女|かの|じょ]は[息|いき]を[飲|の]んだ。`

Which seems better, `息` corresponds to `いき` and `飲` to `の`. Furiganas are well placed above right kanjis

I think you could mix both tatoeba's files, jpn_transcriptions.tsv.bz2 for the furiganas and jpn_indices.tar.bz2 for the dictionary entries.

[2021-02-12 00:50] rbleuse commented on #946
From tatoeba's jpn_transcriptions.tsv.bz2, I get this entry for this sentence :
`[彼|かれ]は[暑|あつ]さのために[食欲|しょく|よく]がなかった。`

And this `暑` is well transcripted as `あつ`, compared to the しょ found in the dictionary list

BTW the 彼 is found as あれ, same bug as #936

[2021-02-12 03:39] rbleuse commented on #935
I suppose that with tatoeba's jpn_transcriptions.tsv.bz2 it could fix this sentence.

The entry is : `できるだけ[早|はや]く[来|き]なさい。`
Same as #946 #938 #880

[2021-02-12 03:42] rbleuse commented on #880
I suppose that with tatoeba's jpn_transcriptions.tsv.bz2 it could fix this sentence.

The entry is : `[買|か]い[物|もの]に[一緒|いっ|しょ]に[来|き]てくれる？`

[2021-02-12 03:44] rbleuse commented on #939
Related to #880

I get the german translation :

<img src="https://user-images.githubusercontent.com/626863/107727912-db981600-6d2f-11eb-8e65-73632f3effd7.jpg" width="300" />

[2021-02-16 12:31] rbleuse opened #950 "[minor] Inflection search doesn't highlight the base form nor recognize TA form"
Hi Martin,

when searching for 見られた, I got 2 right entries :

- The first is the passive form of **見る**, is highlighted and well recognized as `Base 1 + reru : Something is being done`
- The second is the past tense of **見られる**, but that one is not highlighted with blue color nor recognized as `Base Ta: I did X.`

<img src="https://user-images.githubusercontent.com/626863/108063051-01118080-709e-1

[2021-02-26 03:01] rbleuse opened #951 "Wrong entries using exact search"
Hi Martin,

when I look for やつ in Exact search, I got the result 臣　やつこ which shouldn't be displayed as I don't use "Start with" search.
<img src="https://user-images.githubusercontent.com/626863/109248719-aad4d800-7829-11eb-8ed9-73bc23317a15.jpg" width="300" />

[2021-03-19 01:03] rbleuse opened #952 "Inflection search with ~れば form"
Maybe linked to #947

Hi Martin,

I was searching the entry of an ichidan verb : 出かける with the form 出かければ

The search displays incorrectly `Base 1 + nakereba : if I do not do something`, and the entry is not found whereas this inflection is in the inflections tab
<img src="https://user-images.githubusercontent.com/626863/111716750-0975fa80-889a-11eb-851b-2273b6e8fbde.jpg" width="300" />

It's work

[2021-03-19 06:08] mvysny commented on #947
Hmm, weird - the deinflection engine deinflected iwanakereba to iwanai but then stops there for some reason and doesn't deinflect iwanai to iu for some reason. Since iwanai is not present in JMDict, Aedict thinks it's a sentence and performs sentence analysis on it, which in this case is a step in a completely wrong direction :-D

[2021-03-19 06:12] mvysny commented on #947
It could be that there is a bug in the deinflection engine. Would you like to take a shot on fixing it yourself? If yes, just send me a mail at martin@vysny.me and I'll give you access to the sources of the deinflection library.

[2021-03-26 06:52] rbleuse commented on #951
I think I understand the issue here, the search look for kanjis also (奴 is やつ) whereas my search is in **Dict** mode and not in **Kanjidict**

I reproduced the same issue with ひび (響き is found because 響 reading is ひび)
<img src="https://user-images.githubusercontent.com/626863/112593534-fbe8e380-8e4a-11eb-833b-f902e465d194.jpg" width="300" />

[2021-03-31 11:21] mvysny commented on #951
Excellent catch, thank you. Let me take a look. Are you using the JMDict dictionary only, or also some other dictionary please?

[2021-03-31 14:17] rbleuse commented on #951
Here is my dictionaries setup

<img src="https://user-images.githubusercontent.com/626863/113158961-343b5800-9277-11eb-9585-0a8a2e852f7b.jpg" width="300" />

[2021-04-01 08:41] mvysny commented on #951
Thank you, I see that you're only using Jim Breen's JMDict and no other JMDict-compatible dictionaries (such as e.g. Aviation Dictionary nor Buddhism Dictionary). Let me test this please.

[2021-04-01 09:31] mvysny commented on #951
Fixed, thanks for pointing it out! Fixed in Aedict 3.50.21

[2021-04-09 11:41] mvysny commented on #947
Excellent work fixing the deinflector @rbleuse at https://gitlab.com/mvysny/jputils/-/merge_requests/1 - thank you so much. I've released jputils 2.0 to Maven Central and v-bumped it in Aedict, which should solve this issue.

Fixed in Aedict 3.50.21.

[2021-04-09 11:41] #947 closed, assigned to mvysny

[2021-04-09 11:43] mvysny commented on #952
Excellent work fixing the deinflector @rbleuse at https://gitlab.com/mvysny/jputils/-/merge_requests/1 - thank you so much. I've released jputils 2.0 to Maven Central and v-bumped it in Aedict, which should solve this issue.

Fixed in Aedict 3.50.21.

[2021-04-09 11:43] #952 closed, assigned to nobody

[2021-04-09 11:44] mvysny commented on #950
You're right, the `見られる` entry should be highlighted as well.

[2021-04-09 11:49] mvysny commented on #929
Fixed in Aedict 3.50.21.

[2021-04-09 11:49] #929 closed, assigned to mvysny

[2021-04-15 03:03] rbleuse commented on #929
I didn't notice before but in my last screenshot, all くる entries except 来る when looking for kimasu shouldn't be displayed (繰る is kurimasu for example).
This problem seems to be with all forms (konai, kureba, kita, ...)

I might get a fix, when looking for kimasu, deinflection results should always be 来る (with kanji) instead of くる in addition to きる.

But it seems to be tricky because looking for 来る

[2021-04-15 05:43] mvysny commented on #929
@rbleuse you're right. Could you please open a new bug report regarding this? I think that jputils will, upon deinflection, store an information that a certain rule (e.g. kimasu->kuru) is only applicable for Ichidan verbs (marked as "vi"); Aedict should then take this into account and only search for Ichidan verbs in such case. Probably Aedict just ignores this information.

[2021-04-15 09:55] rbleuse opened #953 "Verb inflection search display incorrect entry results"
Related to #929 & #862

When a search use deinflection engine, a certain rule should be only applicable to certain type of verbs

Examples :
| kimasu search | kirimasu search | kurimasu search | shimasu search |
| --- | --- | --- | --- |
| :x: 繰る (kurimasu)<br />:x: 呉る (no inflection)<br /> | :x: 着る (kimasu) | :x: 来る (kimasu)<br />:x: 呉る (no inflection) | :x: 擦る (surimasu)<br /> :x: 剃る (sorimasu/s

[2021-04-16 09:35] rbleuse opened #954 "suru verbs inflection not found"
When looking for a suru verb with an inflection, the entry is not found.

For example, the deinflector deinflects `menshimasu` into `mensiru, mensu` and `menshiteimasu` into `mensu`, that's why the entry is not found.

<img src="https://user-images.githubusercontent.com/626863/115002046-448e3c80-9edf-11eb-86a7-ac16b0d7c528.jpg" width="300" /><img src="https://user-images.githubusercontent.com/6268

[2021-04-16 10:15] mvysny commented on #954
That sounds like a bug in the deinflection engine, could you please open a bug report at https://gitlab.com/mvysny/jputils/-/issues ?

[2021-04-19 11:23] mvysny commented on #954
Blocked by https://gitlab.com/mvysny/jputils/-/issues/1

[2021-05-06 01:25] rbleuse opened #956 "Wrong na-adjective search results"
Hi,

I was randomly looking for `すくない`, and the entry `粋 いき, すい` is displayed whereas it's a na-adjective (its inflection isn't すくない).

<img src="https://user-images.githubusercontent.com/626863/117228971-1d2eed80-ae55-11eb-8816-00be215b67c3.jpg" width="300" /> <img src="https://user-images.githubusercontent.com/626863/117228977-1f914780-ae55-11eb-8856-b76e8bd8bba7.jpg" width="300" /> <img src="ht

[2021-05-15 20:22] malekairmaroc7 opened #957 "SD Card "Warning" pop up"
Hey!

It's been a while since I reported something here ;). Anyways, I get a popup whenever I start Aedict saying that it couldn't write data to the SD Card and will cause the app to crash (which didn't happen though... yet). Is that a bug?
(Redmi 9A - Android 10 / MIUI 12)

![Screenshot_2021-05-15-22-08-44-611_sk baka aedict3](https://user-images.githubusercontent.com/17984577/118377036-c8654280-

[2021-05-17 01:34] rbleuse opened #958 "Causative deinflection doesn't work"
Examples :
suu -> suwaseru
taberu -> tabesaseru

<img src="https://user-images.githubusercontent.com/626863/118421082-4bd18180-b6fb-11eb-9e56-4a0c12907d9d.jpg" width="300" /><img src="https://user-images.githubusercontent.com/626863/118421085-4d9b4500-b6fb-11eb-8e25-e828acf1d7c4.jpg" width="300" />

[2021-05-17 06:57] mvysny commented on #958
Good catch! The bug is in jputils which deinflects tabesaseru to tabesu. I'll create a bug report.

[2021-05-17 06:59] mvysny commented on #958
Created a bug report: https://gitlab.com/mvysny/jputils/-/issues/3

[2021-05-17 07:09] mvysny commented on #957
Welcome back :wave:  ;) Hmm intriguing, let me take a look.

[2021-05-18 04:37] rbleuse opened #959 "[Feature request] add english language in dictionary translation entries"
Hi Martin,

I noticed that jmdict french entries are not updated anymore (probably other languages also) and when I'm looking for entries, I might get the wrong meaning.

For example :

in the english entry from WWWJDIC
`片付ける(P); 片づける 【かたづける】 (v1,vt) (1) to tidy up; to put in order; to straighten up; to put away; (2) to settle (problem); to clear (dispute); (3) to finish; to bring something to an

[2021-05-18 07:53] mvysny commented on #959
Sure thing! The Dictionaries/Language could offer a multi-select checkbox instead of one-option radio button. Aedict will then show JMDict translations from all of checked languages.

[2021-05-19 06:21] rbleuse commented on #939
Hi, on that one I get the Finnish translation whereas there are no french/english translation for this sentence :

<img src="https://user-images.githubusercontent.com/626863/118765214-b6c6b800-b8b5-11eb-82be-ea5bd73b775c.jpg" width="300" />

https://tatoeba.org/fr/sentences/show/227094

[2021-05-19 06:32] mvysny commented on #939
Hi :wave:

The problem is that the French translations are in the "Translations of translations" section.

A long time ago Aedict used to display all available translations; however somebody from the Tatoeba project told me it's not really a good idea since the quality of those translations may vary wildly and may even be completely unrelated to the example sentence, and suggested that Aedict shou

[2021-05-19 07:11] rbleuse commented on #939
Sorry I have no experience with "Translations of translations" :satisfied:
But since Tatoeba team told you to not use them, better not use them. Indeed, translation of translation may differ from the original meaning.

IMO, if there are no translation in my selected language(s), I'd prefer not to see this example sentence at all as it'll confuse me, besides it doesn't help me to understand a meani

[2021-06-18 09:54] Tinz1974 opened #960 "Notepad is not same on my 2 phones"
Hi, I  have some issue about notepad (and its order) is not same on my Huawei Y9 and Samsung S21 ultra.
Normally I will input on Huawei Y9 and it appears on both phone seamlessly. But I just noticed this morning that some of vocabulary that were marked on notepad is not appear on S21 ultra.
At first I deleted applications from S21 ultra and reinstalled it but the result is same and the total file

[2021-06-27 19:29] dadav commented on #957
#931?

[2021-06-28 12:25] mvysny commented on #957
Yup, thanks, #931 is definitely related.
* If you're using the new UMN storage (default), you can safely ignore this error - it stores the database files into completely different directory.
* If you're using the old "File" storage (which you definitely shouldn't - it's slow and memory-demanding), then this bug may prevent you from storing custom stuff like Notepad, SRS etc.

You can check the sto

[2021-06-28 12:27] mvysny commented on #957
Fixed in Aedict 3.50.21

[2021-06-28 12:27] #957 closed, assigned to mvysny

[2021-06-28 12:34] mvysny commented on #960
Hm, that sounds like there is an issue in the synchronization code. Could you please try logging in into the https://aedict-online.eu/, to see which notepad version is present there? Aedict Online should be the definitive source of truth here.

[2021-06-29 09:55] mvysny commented on #954
Fixed in Aedict 3.50.21

[2021-06-29 15:08] rbleuse commented on #954
Hi Martin,

I updated to 3.50.21 but I don't see any changes to this issue : looking for めんします doesn't give me the entry 面する

Anything wrong between jputils and aedict ?

[2021-06-29 15:10] rbleuse commented on #953
This can be closed as it's fixed in 3.50.21

[2021-06-29 15:20] rbleuse commented on #923
Seems that 出来ます doesn't work anymore in 3.50.21 :sweat_smile:

[2021-06-29 15:47] mvysny commented on #954
Hmm that's weird. I've just released jputils 2.1 from the newest master and that's what Aedict 3.50.21 is using, so the bug should be fixed... However I can reproduce the bug on my phone so it's definitely not fixed. Reopening, I'll investigate.

[2021-06-29 15:48] mvysny commented on #953
Thank you for letting me know! Fixed in Aedict 3.50.21

[2021-06-29 15:48] #953 closed, assigned to mvysny

[2021-06-29 15:50] mvysny commented on #923
Ouch :-) . Thanks, reopening.

[2021-06-29 16:18] rbleuse commented on #923
My bad, I flagged all ~来る verbs with vk flag, but forgot that ~出来る is v1

[2021-06-29 23:51] rbleuse commented on #954
It seems that v5s verbs are well found, but not vs-s :

<img src="https://user-images.githubusercontent.com/626863/123881613-0baf2100-d980-11eb-9c21-c009455c6533.jpg" width="300" /><img src="https://user-images.githubusercontent.com/626863/123881603-08b43080-d980-11eb-998f-e3a9e5f5c999.jpg" width="300" />

[2021-06-30 07:13] Tinz1974 commented on #960
Hi Mvysny/Aedict
I logged  into the link you provide and clicked Notepad.
The order seems to be same on my S21ultra but normally I mainly input on
Huawei Y9 which after I update to lastest version just today. The Notepad
on both is still the the same.
But how can I see Notepad version?

Thanks

On Mon, 28 Jun 2564 BE at 19:34 Martin Vysny ***@***.***>
wrote:

--
B/Rdgs, Manit

[2021-06-30 07:46] mvysny commented on #923
No worries, thank you for the PR. I'll test the fix locally today

[2021-06-30 08:03] mvysny commented on #923
Awesome fix, Aedict now properly deinflects 出来ます to 出来る. Will be fixed in Aedict 3.50.22.

[2021-06-30 08:57] mvysny commented on #954
The problem was that both "suru" verb (vsi) and "noun+suru" verbs (vss) fell into the same category in jputils (InflectableWordClass.VerbSuru); Aedict then assumed that VerbSuru is "suru" only (vsi) which effectively disabled deinflection search for vss. Fixed in https://gitlab.com/mvysny/jputils/-/commit/926fc61de13f303b70d056c6a5435db2386601ed .

I've added tests for the "面します" deinflection to A

[2021-06-30 09:40] mvysny commented on #954
Fixed in Aedict 3.50.22

[2021-06-30 09:40] #954 closed, assigned to mvysny

[2021-06-30 09:41] mvysny commented on #923
Fixed in Aedict 3.50.22

[2021-06-30 09:41] #923 closed, assigned to nobody

[2021-07-02 15:40] rbleuse opened #961 "Incorrect potential form search pattern"
Hi Martin,

I noticed some issues when looking for a potential inflection :

<img src="https://user-images.githubusercontent.com/626863/124295165-7c7a5700-db93-11eb-90aa-b1b4db446574.jpg" width="400" />

Yellow : `あえます -> あう, あえる (Potential: ....)`
That's not correct, in that case that's the masu form of just `あえる`.

The rule that is applied is
`d.add(EndsWithDeinflector("emasu", VerbInflection.Fo

[2021-07-04 00:23] rbleuse commented on #961
By reading comments and the code, I think I understood why, it's for the engine to stop after this deinflection (to keep it as a potential result) and to not deinflect taberu into tabu

[2021-07-04 00:26] rbleuse commented on #951
Hi Martin,

It seems that there are still some wrong results with the exact search :

<img src="https://user-images.githubusercontent.com/626863/124369707-cb1a1500-dca9-11eb-8b9c-c2a81c7c54d5.jpg" width="400" />

ですみ shouldn't be displayed

[2021-07-06 04:29] rbleuse commented on #951
Another example with kanji :

<img src="https://user-images.githubusercontent.com/626863/124542149-cd24d500-de5d-11eb-85d2-c57c813a3ff8.jpg" width="300" />

But that one is probably because of special characters in the dictionary entry ?

[2021-07-07 07:05] rbleuse opened #962 "Crash on search"
Hi Martin,

I got a crash every time I type でんえん (french dictionary).

It appears when I type the last `n` from `dennen`

<img src="https://user-images.githubusercontent.com/626863/124714469-c4ef9700-df3c-11eb-939f-bcf4b0ac040a.jpg" width="300" /><img src="https://user-images.githubusercontent.com/626863/124714472-c6b95a80-df3c-11eb-9950-a7bc49ac77cf.jpg" width="300" />

[2021-07-07 11:11] mvysny commented on #962
Uh-oh, there are two issues here:
* The "Dictionary File Problem" dialog should show the exception in more detail - I'll revisit the code and fix this.
* The deinflection engine is not filling the word-class info for "malformed" verbs. Aedict doesn't expect this and will fail. I need to think on whether the word-class (godan/ichidan/suru etc) can actually be empty. I don't think it makes much sens

[2021-07-07 11:13] mvysny commented on #951
Yeah that's probably it - I think I'm filtering those special characters out before the entry is indexed (mostly to get rid of braces and things like ~). But perhaps I should create an exception for these two particular characters.

Regardless, the ですみ should not be displayed regardless. I'll take a look.

[2021-07-08 14:08] mvysny commented on #962
@rbleuse just to be extra-sure: it's illegal to even attempt to deinflect でんえ to e.g. denu or something, right? :)

[2021-07-10 00:48] rbleuse commented on #962
I didn't analyze much, but for example the only verb that ends with nu is `shinu`, which gives `shine` for the imperative form, so I think that the deinflection engine is right.
I don't know if the process is same for `でんえ` and `でね` though
Indeed, only `でね` should be deinflected into `でぬ`, not `でんえ`.

The second problem is that the engine translates `えんえ` into `exnu`, and that extra x makes that t

[2021-07-26 12:59] mvysny commented on #962
Yup, the `x` thing was caused the deinflection not to be found. I've fixed this in https://gitlab.com/mvysny/jputils/-/commit/54820e9759c69fc56f230df4a4978e2c587a0aa3 ; I'll close this ticket once new jputils has been released & integrated into aedict.

[2021-07-27 08:42] mvysny commented on #962
Fixed in Aedict 3.50.22

[2021-07-27 08:42] #962 closed, assigned to mvysny

[2021-07-28 13:27] rbleuse commented on #918
This has been fixed with https://gitlab.com/mvysny/jputils/-/merge_requests/3

[2021-07-28 13:29] mvysny commented on #918
Perfect, in such case the fix is present in Aedict 3.50.22.

[2021-07-28 13:29] #918 closed, assigned to mvysny

[2021-07-29 06:44] mvysny commented on #961
Hi Remi, yes that is true. Unfortunately, the current engine is rather simplistic and this is an unfortunate outcome of that simplicity. But perhaps we can find a workaround :thinking:

Could you please open a bug report at https://gitlab.com/mvysny/jputils/-/issues to discuss the issue further?

[2021-08-06 01:10] Tinz1974 commented on #960
Hi
I have problem to enter to your website aedict.eu and I can't log in to
aedict-online.eu .
This site can't be reached.

Any suggestions on this issue?

Thanks

[2021-08-06 06:53] mvysny commented on #960
Hi, i apologize for the inconvenience. Yes the site is apparently down but I'm away from the computer at the moment and so i can't fix the issue right now. I'll be back in two days, I'll take a look afterwards.

[2021-08-06 16:35] Taketori16 opened #963 "Aedict online is down"
This has nothing to do with the Android version of Aedict. I know this isn't the right place for this, but I have no idea where else to report the issue.

Aedict online has been down for a few days now. I use it very very frequently. Just letting you know!

[2021-08-07 16:41] mvysny commented on #963
Not a problem. When Aedict Online is down, please feel free to reach me in any way ASAP. This is the easiest way, and the one which is guaranteed to reach me. Please continue doing so also in the future - if Aedict-Online happens to be ... offline :-D, simply open a ticket exactly like this one.

Thank you so much, I'm honored you find Aedict useful :+1:

Aedict Online should now be online, please

[2021-08-07 16:41] #963 closed, assigned to mvysny

[2021-08-07 16:42] mvysny commented on #960
Aedict-online should now be running again :+1:

[2021-08-08 01:01] Tinz1974 commented on #960
Thank you so much.
I can sync now.

On Sat, 7 Aug 2564 BE at 23:42 Martin Vysny ***@***.***>
wrote:

--
B/Rdgs, Manit

[2021-09-02 07:10] rbleuse commented on #933
Hi @mvysny, from what I understand, Examples tab from a dictionary entry displays sentences ending with that entry, whereas in my opinion it should display exact matching instead.

It's confusing because there are extra examples non related to searches

[2021-09-02 07:15] rbleuse opened #964 "[Improvement] Don't display deinflections in results"
Hi Martin, is that possible to not display deinflections in every entry results ?

It's already displayed above results panel, and takes a lot of space in the screen

<img src="https://user-images.githubusercontent.com/626863/131799376-5935db55-51bf-471a-bb16-1713b2b8c843.jpg" width="300" />

[2021-09-02 12:48] mvysny commented on #964
Haha i thought there was a setting for that already. Sure, I'll work on that.

[2021-10-11 15:47] mikemorr commented on #938
I notice a similar issue in the sentence `それらは空いているアパートか空き家だった。` The first furigana `あく` should be only `あ`, and should appear over the first `空`, not over the `て`.

![furigana](https://user-images.githubusercontent.com/2184268/136816030-426cf734-515b-45d2-a34a-5ac0487f9b01.png)

[2021-10-14 23:22] rbleuse commented on #946
Hi @mvysny, IMO this one shouldn't be an issue but the furigana isn't correct :

<img src="https://user-images.githubusercontent.com/626863/137407773-82e34879-987e-40c6-aef2-fa4a3bf7ab42.jpg" width="300" />

若く should be わか instead of し

from jpn_indices.csv :
`母(はは) は|1 年の割に{年のわりに} は|1 若い{若く} 見える(みえる){見えます}`
=> 若い is a valid entry in the dictionary so I don't know where this し comes from (or prob

[2021-10-15 05:25] mvysny commented on #946
Hmm, this one looks definitely funny. Let me take a look.

[2021-10-15 08:36] Taketori16 opened #965 "Aedict Online seems to be down again"
Just letting you know :)

[2021-10-15 10:11] mvysny commented on #965
(Damn it) Thanks! :-D Should be fixed now.

Also please use this very same approach in the future as well :)

[2021-10-15 10:11] #965 closed, assigned to mvysny

[2021-10-22 06:24] istrasci opened #966 "Reorder "Recent Entries""
It would be nice if we could manually reorder the *Recent Entries*.  I often have several related words close together to help me learn the nuances between them.  But sometimes I'll accidentally click one, and it gets moved to the top of the list.  I'm thinking that when you long-press an entry, you could make it draggable when in that mode.

1. Your phone brand and maker - Samsung Galaxy S10
2. T

[2021-11-18 19:11] mikemorr commented on #499
On my device, the 2 characters look the same (final stroke is vertical), although the SOD for 51B7 uses a form where the lower part looks like マ.

Since F92E is semantically equivalent and canonically decomposes to 51B7, I wonder whether F92E should just be suppressed from the KanjiPad search results.

I notice the same behavior occurs with 令 4EE4 and 令 F9A8.

[2022-02-16 07:16] o8o78 commented on #874
hi there, how did you fix this? af keeps reporting me similar crashes these days...

[2022-02-16 08:18] mvysny commented on #874
Don't remember unfortunately; but I think I had to use a different way to get the clipboard - different API call.

[2022-06-11 11:26] ShiroiKuma0 opened #967 "[Improvement] Add new personal dictionary entries"
I'd like to be able to add new dictionary entries for – usually – technical terms one might search for, that are not included in any of the dictionaries.

For instance some time ago I was searching for “CRO”,  i.e. Chief Risk Officer – quite a common corporate term – however non even in the financial dictionaries. Through web searches was able to determine that it's mostly used in Japan as 最高リスク責任

[2022-06-14 01:56] topherbuckley commented on #967
@mvysny does the JMDict or other dictionaries used by the app have any sort of git repo or the like where users can contribute new entries? I wonder if it would be better to add such new entries to ongoing dictionary projects like JMDict rather than everyone making their own custom local entries (I can see the benefit of both, but I think it would be nice if aedict users could potentially contribu

[2022-06-14 02:05] topherbuckley commented on #967
Looks like JMDict has an [online interface](http://www.edrdg.org/jmdictdb/cgi-bin/edform.py?svc=jmdict&sid=) for adding entries:

and looking at the fine print at the bottom, there is [documentation](http://edrdg.org/~smg/#descr) about a python API for accessing the Postgresql DB. Looks like everything is hosted on [gitlab](https://gitlab.com/yamagoya/jmdictdb)

Not sure how much work this would e

[2022-06-15 05:44] mvysny commented on #967
Thank you everyone, and sorry for a late reply.

@topherbuckley Hmm, adding entries to JMDict directly is a very specialized operation which only a few users would use; also typing the new entry would feel much more comfortable from a device with a keyboard and a bigger screen, rather than from a mobile phone. Therefore I'd propose to not to implement this feature into Aedict; however we can add a

[2022-06-15 06:10] ShiroiKuma0 commented on #967
This for sure – I think that's usable.

The key really would be to make notepad entries searchable – so that the results would be returned when searching in the search interface.

But as a start just storing of individual entries would be great – that way you could create your professional lists you need – I often search for financial specific terms which might be peculiar and not in the Finance d

[2022-07-16 09:15] terrywallwork opened #968 "Furigana incorrectly shown even though original Tatoeba sentence is correct."
Most recent version of Aedict for Android 10.

I noticed that the furigana above certain sentence appears to be wrong.  Even though the Tatoeba sentene on their website appears to be correct.  See the あける above certain sentences in the screen shot below.
![Screenshot_20220716-100629-01](https://user-images.githubusercontent.com/19387982/179348704-ba70cb7b-c1d6-48cb-b382-9b3502e4bf21.jpeg)

[2022-08-01 06:13] Messyblue opened #969 "Kanji not showing up in SKIP code search"
1. Tested on Samsung Galaxy S20+ and Galaxy Tab S7+
2. Android 12
3.
![2022-07-31 23 04 58](https://user-images.githubusercontent.com/103365869/182083533-ddb0738f-0d28-4c6a-b37f-a2b6c7c740e1.png)
4. The character 揆 doesn't show up under the results of SKIP code search for 1-3-9, even though that's the correct code as confirmed on the character entry and on other sites. I tried a few other adjacent

[2022-08-01 06:43] mvysny commented on #969
Hi, thank you for letting me know. I just verified that indeed the Kanjidic lists the `揆` character with the SKIP code of 1-3-9, so the data file is correct as well. That leads me to believe that it's a bug in the Aedict search functionality. I will investigate and write a test to verify what's going on.

[2022-08-16 11:19] Messyblue commented on #969
The character 衒 seems to be affected by the same issue, it doesn't show up in the results of SKIP code 1-3-8.

[2022-08-26 19:21] greggilbert opened #970 "Billing error for Ultimate"
1. Samsung Galaxy S10
2. Android 12
3. ![Screenshot_20220826-151146_Aedict](https://user-images.githubusercontent.com/169482/186976261-bad3698c-a576-4166-a36b-51c0ceeecd0c.jpg)
4. My monthly subscription to AEDict Ultimate was supposed to occur today, but it said the payment wouldn't go through. I tried two different cards but that didn't affect anything.
  Finally I contacted my credit card compa

[2022-08-28 23:37] emhendersn commented on #970
I see the exact same error with my moto one 5g uw running android 11 with build number RPN31.Q1-51-30-14.
I'm in California.

[2022-08-29 05:04] mvysny commented on #970
Thank you so much for letting me know, and I'm sorry for the issue. Let me take a look.

[2022-08-29 05:28] mvysny commented on #970
I found out that the billing library is getting old. I will upgrade it and then release a new version of Aedict soon.

[2022-08-29 05:59] mvysny commented on #970
Fixed, the fix will land in 3.50.23.

[2022-08-29 13:27] mvysny commented on #969
Thank you, fixed in Aedict 3.50.23

[2022-08-29 13:27] #969 closed, assigned to mvysny

[2022-08-31 16:56] mvysny commented on #970
Reopening: there seems to be a misconfiguration of my Google Play Payments Profile. I've asked Google for help to connect my user to the correct Payments profile.

[2022-09-01 04:55] mvysny commented on #970
Google support is a disaster. One has to navigate a labyrinth of canned articles to reach a human support. I've opened two tickets, let's pray for a fast fix.

[2022-09-01 07:05] mvysny commented on #970
This is the reply I got from Google:

What The Fuck GOOGLE?????? I move to a different country and I have to create a new developer account and migrate all apps there, because you fuckers can't update my payments profile to a different country?!?!? Would you also like me to fucking dance naked in the streets while I'm doing all of this bureaucratic crap?

Google is a disaster. This just shows that

[2022-09-01 07:22] mvysny commented on #970
The saga continues. I was able to register my old Google account as an app developer, only to see in Google Play Console that the Account Is Closed and Can not be reactivated. I'm waiting for a refund for the Developer Registration Fee and I'll have to create a FOURTH user named Martin Vysny4, register that one, pay the fee, transfer all apps to him and ONLY THEN I will be able to receive payments

[2022-09-01 09:46] mvysny commented on #970
I've asked to transfer the apps to the new account martin.vysny3@gmail.com. I pray that this won't affect the subscription IDs and such. Damn you Google.

[2022-09-03 04:18] mvysny commented on #970
Google is still processing the application transfer to the new account. 🤦🤦‍♀️🤦‍♂️

[2022-09-05 05:42] mvysny commented on #970
The app transfer has been completed; everything has been set up properly on Google's side and the payments should now go through. The new Aedict release is still "pending review from Google" ( :facepalm: ) but the subscription payments should now go through. @greggilbert could you please test it out and let me know?

[2022-09-05 08:00] greggilbert commented on #970
Confirmed as working. Still on v3.50.22, for what it's worth.

[2022-09-05 08:29] mvysny commented on #970
Awesome, thank you so much for confirming so quickly. I'm so happy that the Google toolchain finally works :)

Thanks again for letting me know. Closing as fixed, but please feel free to reopen if anything stops working.

[2022-09-05 08:29] #970 closed, assigned to mvysny

[2022-09-08 05:59] topherbuckley opened #971 "Export to Ankidroid Updates"
Hello Martin, long time no contact.

It appears the export to Ankidroid feature has been removed/modified in the 2022/08/30 update (or maybe earlier and I didn't notice). Is there documentation on how this is now supposed to work? I heavily depended on this feature and cannot seem to replicate the old behavior now. All I see now is "Export to Anki-compatible CSV" and Share (First Entry Only). See

[2022-09-08 09:03] mvysny commented on #971
Hi, the support for AnkiDroid is still present in Aedict. If Anki is detected, there should be the "Export to AnkiDroid" menu item available in Aedict. Perhaps something changed in AnkiDroid itself? I'm using the `com.ichi2.anki:api:1.1.0.alpha5` client which actually comes from the AnkiDroid guys, could it be that it's getting old? The ichi2.anki client code looks up content provider "com.ichi2.a

[2022-09-08 21:51] MGessinger opened #972 "Searching for rimasu matches shikaru"
When searching for ります, it gets deinflected to "る、りる" (whether this is useful is debatable, but it certainly follows the rules) which then matches the る in 叱る.
I believe this is because the entry for said verb contains an additional Kanji form, which has no readings nor any other data associated to it. Hence, this Kanji form only sees the suffix る, which technically matches my search. I have attac

[2022-09-09 07:32] topherbuckley commented on #971
Thanks for the follow up. I'm using the 2.15.6 version from the Google Play store, which appears to be last updated Jul 14, 2021. I use this function quite frequently, so I'm sure I would have noticed this missing between then and now had it been caused by an update to AnkiDroid back in 2021. So I'd be inclined to think its something on the Aedict side. Happy to take a look at any diffs from the r

[2022-09-09 07:38] topherbuckley commented on #971
Although I didn't update my system anytime recently, since you think this is a bug, I'll add my system details:

Device: Pixel 3a
OS: Android 11
Build #: RQ1A.210105.002

Let me know if you need anything else.

[2022-09-10 02:32] StarryJapanNight commented on #971
Same issue. Lost ability to export to Anki in the last few days.

Pixel 6.
Android 13

[2022-09-10 06:29] mvysny commented on #971
Thanks for letting me know. Let me try on my Android 12 phone 👍

[2022-09-10 16:10] mvysny commented on #971
Reproduced on my phone. I have filed a bug upstream, let's discuss this with the AnkiDroid guys :+1:  https://github.com/ankidroid/Anki-Android/issues/12369

[2022-09-13 05:44] mvysny commented on #971
After targeting SDK 30, I didn't knew that I had to add a magic XML to AndroidManifest:
[code]
As per https://developer.android.com/training/package-visibility/declaring

Adding the `<queries>` element fixed the issue and now Aedict works with AnkiDroid again.

Fixed in Aedict 3.50.25. I'll release a fixed version today.

[2022-09-13 05:44] #971 closed, assigned to mvysny

[2022-09-13 10:01] mvysny commented on #971
Aedict 3.50.25 released, please wait a day or two for it to get reviewed by Google and then made available.

[2022-09-14 03:20] topherbuckley commented on #971
Confirmed working! Thanks for your always speedy replies and resolution Martin!

[2022-09-24 06:35] flobauke opened #973 "Billing Error"
### Thank you for making the time to report a bug and make Aedict better!

Thank you for your interest in Aedict. Prior submitting bugs, please make sure that you have newest Aedict from Google Play.

A screenshot is often worth a thousand words, so please make sure to include one ;)

Please provide:
1. Your phone brand and maker
2. The exact Android version.
3. A screenshot if possible; even bett

[2022-09-24 06:41] flobauke commented on #973
For about 2 weeks I constantly get the penetrant error message "Biling Error #5"

"Billing Error #5 Developer Error: Invalid arguments provided to the API. This error can also indicate that the application was not correctly signed or properly set up for In-app Billing in Google Play, or does not have the necessary permissions in its manifest: java.lang.Throwable: Client is already in the process o

[2022-09-24 09:15] mvysny commented on #973
Thank you for letting me know. The issue was caused by a misconfiguration on Google's side, but now everything should be resolved. I just checked and payments from other users are coming through, so everything seems to be working properly.

Let me check where the message could come from. However, it sounds like a communication is being established to Google Play, and the issue could be only tempor

[2022-09-24 09:39] mvysny commented on #973
If the issue would persist, I'll need a stacktrace of the exception from your phone. Would you be interested in doing so and posting it here? Please try to follow http://www.aedict.eu/faq.html section "Aedict 3 log"

[2022-09-27 02:26] topherbuckley commented on #973
Just chiming in to say that I was having the same issue and wasn't near a computer so didn't realize it was Aedict (or related Google Play API) causing the issue. I'm happy to generate a stack trace, but I'm not sure how to forcefully recreate the toast billing error message. It came at seemingly random times. @mvysny any good ideas for recreating the error?

Also I noticed the [FAQ](http://www.ae

[2022-09-27 02:32] topherbuckley commented on #973
I made a screenshot of the toast message a few days ago if it is of any use:

![Screenshot_20220920-182200](https://user-images.githubusercontent.com/15166572/192417819-c86a3d26-9fad-4480-bf1d-e34ea1ecd451.png)

[2022-09-27 08:04] mvysny commented on #973
@topherbuckley Unfortunately I have no idea how to reproduce this issue. I'm even at loss as to the cause of this ticket. The Aedict purchasing configuration in Google Play however was broken a month ago, that is correct. Could it be that Google Play on your device somehow cached this "broken result"? No idea unfortunately. It works for me and for other users as well. Could you try rebooting your

[2022-09-27 14:19] flobauke commented on #973
I looks like wiping all Play Store data and rebooting my phone resolved the issue for me. I used Aedict very intensively today but did not get the error message once.
Maybe this works for topherbuckley too?

[2022-09-27 19:41] mvysny commented on #973
Excellent fix @flobauke thank you so much for sharing.

[2022-09-28 06:16] topherbuckley commented on #973
I haven't seen the toast message recently, but if I see it again I will try clearing the play store cache and/or data as mentioned. Will follow up if I see it. Otherwise maybe this can be closed until it reappears?

[2022-09-28 06:37] mvysny commented on #973
Sounds good to me. I'll close the ticket but please feel free to reopen if the issue reappears.

Closing as duplicate of #970

[2022-10-08 19:49] mikemorr commented on #973
Hi Martin, I deleted Play Store data and rebooted, but I'm getting these toasts as well. The ones I've seen say:

`Billing error #3 Billing Unavailable: Billing API version is not supported for the type requested: java.lang.Throwable: Google Play In-app Billing API version is less than 3`

and:

`Billing error #5 Developer Error: Invalid arguments provided to the API. This error can also indicate

[2022-10-11 09:48] greggilbert commented on #973
@mvysny I'm getting the same errors mentioned here.

`Billing error #5 Developer Error: invalid arguments provided...`

It's similar to the previous ticket, but a different error code. This is v3.50.25 of the app.

[2022-10-11 13:05] topherbuckley commented on #973
I can also confirm that these are still occurring for me. I'll try to grab a logcat if I'm near a PC when they happen next time.

[2022-10-11 16:28] mvysny commented on #973
Thank you. @mikemorr I've received the log from your phone, the relevant part of the log is attached here:
[code]
The error is coming straight from Google Play as can be seen in the stack-trace. Unfortunately there's not much I can do about crappy Google code.

I've tried to google around and this came up: https://stackoverflow.com/questions/67738549/billingclient-in-app-billing-api-version-3-is-n

[2022-10-11 18:06] mikemorr commented on #973
@mvysny I have just now force-stopped the Google Play Store app, cleared its cache, and rebooted the phone. If the toasts appear again, I'll let you know. But it does appear that my subscription payment went through correctly on Sunday October 9th, as normally scheduled.

[2022-10-11 18:30] mikemorr commented on #973
It occurs to me that the toasts have been appearing on my new phone I just got, but my old phone (sitting in a drawer, but still powered on) still had Aedict installed too. I wonder if the problem was that both phones were trying to bill simultaneously?

[2022-10-13 02:59] mikemorr commented on #973
For now, is there a way to block the toast messages?

[2022-10-13 02:59] mikemorr commented on #973
For now, is there a way to block the toast messages?

[2022-10-13 05:40] mvysny commented on #973
@mikemorr unfortunately not at the moment. But I agree that those can be quite annoying. I'll rework it and show those messages in the "About" screen instead.

[2022-10-13 11:12] topherbuckley commented on #973
I'm not seeing similar API 3 errors in my logcat. Instead I'm seeing what doesn't even appear to be an "error" per se. I copied the logcat to my pc with `adb logcat > logcat` but it appears logcat produces a stream rather than a file, so I ctrl+c to truncate it. Then I grep it with `grep -i "aedict" logcat`. Lines around the time of the toast are as follows:

[code]

There were a few minutes betwe

[2022-10-13 12:19] mvysny commented on #973
According to https://developer.android.com/studio/command-line/logcat#filteringOutput , adb should print everything including debug messages. Aedict will not log debug messages in production though, so unfortunately that will not work.

However, this line is very interesting: `Aedict:InAppPurchases: aedict.ultimate is now subscribed`

That means that Aedict was in fact able to connect to Google Pl

[2022-10-21 06:25] topherbuckley commented on #973
@mvysny what do you recommend for getting the most verbose log using the production version if not the logcat output?

It hasn't happened recently so I've increased by log buffer from the default of 256k to 16M. Hopefully I'll catch it with this length of a log.

I'm using `adb logcat -d -e "Aedict"` to search for this btw. A bit faster than my grep approach before.

[2022-10-21 08:11] Zoetrophy opened #974 "Large spacing around lines containing Japanese when using custom font (Noto Sans JP)"
I recently switched to a custom font (Noto Sans JP –  Medium for normal text, Regular for large text) to fix some characters rendering incorrect forms, and I've found that it introduces a large amount of unwanted space around any lines containing Japanese.

For reference, I'm using a JDM Sony Xperia 1 II running Android 12.

![Screenshot_20221021-170103](https://user-images.githubusercontent.com/1

[2022-10-21 10:19] mikemorr commented on #973
@topherbuckley I wonder whether the search is case-sensitive? Since some log lines have 'Aedict' and some have 'aedict' it might help to look for 'edict'.

[2022-10-23 06:56] mvysny commented on #973
@topherbuckley to get most verbose log you would continue using `adb logcat` but you would need a debug build of Aedict. However, the `InAppPurchases` class only logs INFO, WARNING and ERROR (so no debug), so the debug build wouldn't help in this case.

[2022-11-04 12:44] mvysny commented on #973
I just experienced the same issue: aedict started to complain about error no.5. Clearing Google Play data helped immediately. This is clearly Google play issue.

For further reference, I first killed all apps on my phone. Then I went to phone settings, then "apps", then "app management", searched for the "Google play store" app, then clicked "Force Stop". Then I went to "storage usage" and clicked

[2022-11-11 21:47] flobauke opened #975 "Export to AnkiDroid, Furigana are placed wrong"
In certain words, the furigana are not placed over the correct letters. In this example, 受け付ける, the first furigana is placed correctly, but the second spans over け付. (see screenshots).

The reason is that there's missing a blank before 付.

Anki's furigana syntax is not really well documented, but from experiments I could conduct, that furigana span all letters that either

- start at the beginning

[2022-11-16 16:48] mikemorr commented on #973
Clearing the Play data helps for a short while, but the toast messages come back for me within a few days.

[2022-11-17 06:25] mvysny commented on #973
Thank you for letting me know. Unfortunately I suspected as much. Google put the payments on hold without any prior notice until I fill in some EU-related paperwork. I did that yesterday, and it will take a couple of business days to sort this out. Please let's wait until everything is sorted out.

[2022-11-17 10:27] mvysny commented on #973
I have received an e-mail from Google that the payments should hopefully be sorted out again. Let's hope for the best :) Closing as fixed, please reopen if you start experiencing the issue again.

[2022-11-26 14:28] mikemorr commented on #973
The messages are appearing again. I'm on Android 12 now.

[2022-11-28 08:26] mvysny commented on #973
I'm sorry to hear that. Let me talk to Google.